!!! 5
.hero-unit
  %h1#welcome-title
    Psychology of Advertisement
  %p Effective advertising appeals to three innate emotions.
  %h4 Love - Anger - Fear
  %p#psych-image
    =image_tag "psychology_logo.png"
  =form_for user, url: users_path, html: { class: "form-inline", id: "new-user-form" } do |f|
    =f.text_field :worker_id, class: "input-small", placeholder: "Worker ID"
    =f.collection_select :country, International::COUNTRIES, :to_s, :to_s, selected: "Select Your Country"
    =f.submit "Take Survey", class: "btn"

%h3#message Attract - Focus - Remember - Action
.row
  .span3
    %h2 Attract
    %p Attract a consumer's attention. The advertisement should visually stand out and speak to the consumer. Step one is to draw the consumer to the message.
  .span3
    %h2 Focus
    %p Focus the engaged consumer on a given message. When the consumer is engaged, it is important that the advertisement retains their attention for the duration of the message.
  .span3
    %h2 Remember
    %p Ensure that the consumer remembers the message. Uniqueness and repetition are great ways to make an imprint on a consumer. It is important that the consumer remembers the message when it's time for action.
  .span3
    %h2 Action
    %p Propel the consumer to take the desired action. The whole effectiveness of the ad is determined on the ability of the advertisement to act as a catalyst - causing the consumer to take an action.
%hr/

