=@advertisement.name
=@advertisement.description

-unless @advertisement.questions.empty?
  -@advertisement.questions.each do |question|
    %p
      =question.description
    =form_for @answer do |f|
      =f.label :response
      =f.text_field :response
      =f.submit
